.coverage
htmlcov
/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
/*.egg-info
*.egg
*.eggs
/.installed.cfg
*.pyc
/.Python
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
