[buildout]
index = https://pypi.org/simple
show-picked-versions = true
extensions = mr.developer
parts =
    instance
develop = .
versions = versions

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    collective.mailchimp [test]

[versions]
# Don't use a released version of collective.mailchimp
collective.mailchimp =

# setuptools / buildout
setuptools =
zc.buildout =
