[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.1.x.cfg
package-name = collective.mailchimp
package-directory = collective/mailchimp
parts += instance
index = http://d.pypi.python.org/simple/
extensions = buildout.eggtractor mr.developer
tractor-src-directory =
    .
auto-checkout =

[instance]
eggs += collective.mailchimp [test]
